<section class="sessions">
  <h6>Log in</h6>

  <%= form_tag login_path do %>
    <div class="field">
      <%= label_tag :nickname %>
      <%= text_field_tag :nickname, params[:nickname], autofocus: true %>
    </div>

    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>

    <div class="actions">
      <%= submit_tag 'Log in', data: { disable_with: 'Logging in...' } %>
      <span>Don't have an account?</span>
      <%= link_to 'Sign up', signup_path %>
    </div>
  <% end %>
</section>
