<section class="sessions">
  <h6>Sign Up</h6>

  <%= form_with model: @user do |f| %>
    <div class="field">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <%= f.submit 'Sign up', data: { disable_with: 'Signing up...' } %>
      <span>Already have an account?</span>
      <%= link_to 'Log in', login_path %>
    </div>
  <% end %>
</section>
