<%= form_with(model: @story, class: 'story-form') do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true,
                                placeholder: 'Write your title...' %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, placeholder: 'Write your story...' %>
  </div>

  <div class="action">
    <%= form.submit data: { disable_with: 'Creating story...' } %>
  </div>
<% end %>
