<div class="story" id="edit_story_<%= story.id %>">
  <h3><%= story.title %></h3>
  <p><%= story.body %></p>
  <% if story.owner? current_user %>
  <div class="story-buttons">
    <%= link_to 'Edit', edit_story_path(story), remote: true %>
    <%= link_to 'Destroy', story,
                  method: :delete,
                  remote: true,
                  data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
</div>
