<tr id="edit_story_<%= story.id %>">
  <td><%= story.title %></td>
  <td><%= story.body %></td>
  <% if story.owner? current_user %>
    <td><%= link_to 'Edit', edit_story_path(story), remote: true %></td>
    <td><%= link_to 'Destroy', story,
                    method: :delete,
                    remote: true,
                    data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
